body{
    background-color:black;
}

.container{ 
     max-width: 400px; 
 }

 h1{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .weather-icon{
     position: relative;
     border-radius: 50%;
     width: 100px;
     background-color: #eeedec;
     margin-top: -50px;
 }
